<a href="https://colab.research.google.com/github/Sakib3602/ML/blob/main/Binning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # Binning means catogarize the numeric value .
 # after binning must conver tto the numeric .

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
df["Age_bin"] = pd.cut(
    df["Age"],
    bins=[0,40,60,100],
    labels=["Young","Middle Age", "Old"]
)

In [ ]:
print(df[["Age", "Age_bin"]].head(50))

    Age     Age_bin
0    40       Young
1    49  Middle Age
2    37       Young
3    48  Middle Age
4    54  Middle Age
5    39       Young
6    45  Middle Age
7    54  Middle Age
8    37       Young
9    48  Middle Age
10   37       Young
11   58  Middle Age
12   39       Young
13   49  Middle Age
14   42  Middle Age
15   54  Middle Age
16   38       Young
17   43  Middle Age
18   60  Middle Age
19   36       Young
20   43  Middle Age
21   44  Middle Age
22   49  Middle Age
23   44  Middle Age
24   40       Young
25   36       Young
26   53  Middle Age
27   52  Middle Age
28   53  Middle Age
29   51  Middle Age
30   53  Middle Age
31   56  Middle Age
32   54  Middle Age
33   41  Middle Age
34   43  Middle Age
35   32       Young
36   65         Old
37   41  Middle Age
38   48  Middle Age
39   48  Middle Age
40   54  Middle Age
41   54  Middle Age
42   35       Young
43   52  Middle Age
44   43  Middle Age
45   59  Middle Age
46   37       Young
47   50  Middle Age
48   36       Young
49   41  Middle Age